.content-container .cooperation {
  display: none;
  width: 100%;
  height: 100%;
}
.content-container .cooperation .coo-banner {
  width: 100%;
  height: 39.68%;
  background-color: #fd4c4c;
}
.content-container .cooperation .avatar {
  width: 10.2rem;
  height: auto;
  margin: 0 auto;
}
.content-container .cooperation .avatar img {
  display: block;
  width: 100%;
  height: auto;
}
.content-container .cooperation .name {
  font-family: "黑体", "SimHei";
  font-size: 3rem;
  color: #fff;
  text-align: center;
}
.content-container .cooperation .coo-contentBox {
  width: 100%;
  height: 60.32%;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.content-container .cooperation .coo-contentBox .background {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  padding: 7px 6px 3px 6px;
  box-sizing: border-box;
  position: relative;
}
.content-container .cooperation .coo-contentBox .background .info-box {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 34px 33px;
  box-sizing: border-box;
  position: relative;
}
.content-container .cooperation .coo-contentBox .background .info-box p {
  padding-left: 64px;
  padding-bottom: 10px;
  font-family: "微软雅黑", "Microsoft YaHei";
  font-size: 18px;
  line-height: 26px;
  color: #515151;
}
.content-container .cooperation .coo-contentBox .background .info-box .qq {
  background-image: url(../res/img/qq.png);
  background-repeat: no-repeat;
  background-size: 21px auto;
}
.content-container .cooperation .coo-contentBox .background .info-box .tele {
  background-image: url(../res/img/tele.png);
  background-repeat: no-repeat;
  background-size: 23px auto;
}
.content-container .cooperation .coo-contentBox .background .info-box .email {
  background-image: url(../res/img/email.png);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 0 6px;
}
.content-container .cooperation .coo-contentBox .background .info-box .company {
  background-image: url(../res/img/company.png);
  background-repeat: no-repeat;
  background-size: 21px;
  background-position: 0 4px;
}
.content-container .cooperation .coo-contentBox .background .info-box .line {
  width: 1px;
  height: 158px;
  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 72px;
  -webkit-transform: translate(0, 25px);
  transform: translate(0, 25px);
}
.content-container .cooperation .coo-contentBox .background .city {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.7;
}
