* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
@font-face {
  font-family: Estrangelo;
  src: url(../res/font/Estrangelo_Edessa_zipped.ttf);
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #FEFCF2;
}
.nav-bar {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0 79px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.nav-bar .nav-header {
  float: left;
}
.nav-bar .nav-header .nano-logo {
  padding-top: 8px;
  padding-bottom: 8px;
  float: left;
  margin-right: 13px;
}
.nav-bar .nav-header .nano-logo img {
  display: block;
}
.nav-bar .nav-header .header-title {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  font-size: 28px;
  color: #676767;
  font-family: Arial;
}
.nav-bar .navbar-list {
  float: right;
}
.nav-bar .navbar-list li {
  float: left;
  margin-left: 41px;
}
.nav-bar .navbar-list li > a {
  display: block;
  text-decoration: none;
  line-height: 20px;
  font-size: 20px;
  font-family: "微软雅黑";
  color: #676767;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-bar .navbar-list li > a:hover {
  color: #e68d4c;
}
.nav-bar .navbar-list li #toEnglish {
  font-family: Arial;
}
.nav-bar .navbar-list .cooperation {
  color: #e68d4c;
}
.footer {
  width: 100%;
  height: 41px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #f1f1f1;
}
.footer .copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 43px;
  font-family: "微软雅黑";
  font-size: 12px;
  color: #8b8b8b;
  line-height: 41px;
  height: 41px;
}
.main {
  width: 100%;
  height: 100%;
  padding-bottom: 41px;
  box-sizing: border-box;
}
.main .content-container {
  width: 100%;
  height: 100%;
  background: url(../res/img/city.png) no-repeat left bottom;
  background-size: 100% auto;
  position: relative;
}
.main .content-container .contactUs {
  width: 588px;
  margin: 0 auto;
  padding-top: 12%;
}
.main .content-container .contactUs .info-container {
  text-align: center;
}
.main .content-container .contactUs .info-container .personalInfo {
  display: inline-block;
  margin-bottom: 15px;
}
.main .content-container .contactUs .info-container .personalInfo .avatar {
  vertical-align: bottom;
}
.main .content-container .contactUs .info-container .personalInfo .name {
  display: inline-block;
  font-family: "微软雅黑";
  font-size: 30px;
  color: #676767;
}
.main .content-container .contactUs .welcome {
  margin-bottom: 20px;
  padding-left: 120px;
  font-family: Estrangelo;
  font-size: 34px;
  color: #8d7b03;
}
.main .content-container .contactUs .contacts {
  overflow: hidden;
}
.main .content-container .contactUs .contacts .left,
.main .content-container .contactUs .contacts .right {
  display: inline-block;
}
.main .content-container .contactUs .contacts .left .qq,
.main .content-container .contactUs .contacts .right .qq,
.main .content-container .contactUs .contacts .left .telephone,
.main .content-container .contactUs .contacts .right .telephone,
.main .content-container .contactUs .contacts .left .email,
.main .content-container .contactUs .contacts .right .email,
.main .content-container .contactUs .contacts .left .company,
.main .content-container .contactUs .contacts .right .company {
  height: 34px;
}
.main .content-container .contactUs .contacts .left p,
.main .content-container .contactUs .contacts .right p {
  height: 34px;
  line-height: 34px;
  font-family: "微软雅黑";
  font-size: 20px;
  position: relative;
  padding-left: 42px;
  color: #515151;
}
.main .content-container .contactUs .contacts .left .qq,
.main .content-container .contactUs .contacts .right .qq {
  padding-left: 47px;
  margin-bottom: 16px;
}
.main .content-container .contactUs .contacts .left .qq p,
.main .content-container .contactUs .contacts .right .qq p {
  background-image: url(../res/img/qq.png);
  background-repeat: no-repeat;
}
.main .content-container .contactUs .contacts .left .telephone p,
.main .content-container .contactUs .contacts .right .telephone p {
  background-image: url(../res/img/phone.png);
  background-repeat: no-repeat;
  background-position: 0 3px;
}
.main .content-container .contactUs .contacts .left .email,
.main .content-container .contactUs .contacts .right .email {
  margin-bottom: 16px;
}
.main .content-container .contactUs .contacts .left .email p,
.main .content-container .contactUs .contacts .right .email p {
  background-image: url(../res/img/Email.png);
  background-repeat: no-repeat;
  background-position: 0 8px;
}
.main .content-container .contactUs .contacts .left .company p,
.main .content-container .contactUs .contacts .right .company p {
  background-image: url(../res/img/company.png);
  background-repeat: no-repeat;
  background-position: 0 5px;
}
.main .content-container .contactUs .contacts .left img,
.main .content-container .contactUs .contacts .right img {
  position: absolute;
}
.main .content-container .contactUs .contacts .left {
  padding-right: 27px;
  border-right: 1px solid #C0BFB9;
}
.main .content-container .contactUs .contacts .right {
  padding-left: 27px;
}
